{% extends "@src/twig/layouts/full.twig" %}

{% set card = {
  "wrap": "text-center",
  "links": "block bg-base-white hover:bg-pink-50t",
  "img": "py-4",
  "icon": "icon-8",
  "title": "h5 p-2 pb-4 m-0",
  "content": [
    {
      "icon": "icon-logo-mark",
      "link": "overview",
      "title": "Overview"
    },
    {
      "icon": "icon-logo-swagger",
      "link": "endpoints",
      "title": "Endpoints"
    },
    {
      "icon": "icon-logo-github",
      "link": "sample-data-and-code",
      "title": "Sample Data and Code"
    }
  ]
} %}

{% block content %}
  <section class="color-dark-background py-6">
    <div class="layout-wrap mx-auto px-4 pb-6">
      <div>
        <div class="py-4 mx-auto animated fadeInUp desktop:p-8">
          <div class="justify-center items-center mb-6 desktop:flex desktop:px-4">
            <div class="py-2 mobile:text-center desktop:text-start">
              <h2 class="h1 font-default font-normal inline-block mb-3 desktop:m-0" style="line-height: 1em">
                <span class="sr-only">{{ package.title }}</span>

                <div aria-hidden="true">
                  <b class="whitespace-nowrap block tablet:inline desktop:block">Build With</b>
                </div>

                <svg class="icon-logo-nyc mb-1" style="width: 258px; height: 84px" aria-hidden="true">
                  <use xlink:href="#icon-logo-nyc"></use>
                </svg>
              </h2>
            </div>

            <div class="desktop:py-2 desktop:pis-7 desktop:mis-7 desktop:border-is border-blue">
              <p class="text-h2 mb-2">Put your <b>data</b>, <b>design</b>, <b>digital</b>, and <b>policy</b> skills to work to improve the lives of millions of New Yorkers.</b>

              <p class="text-center desktop:text-start pt-2">
                <a class="btn btn-primary btn-large inline-block" href="#positions">View open positions</a>

                {# <br><br> #}

                {# <span class="text-h6">or <a href="overview">read the overview to learn more</a>.</span> #}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="color-light-background py-8">
    <div class="layout-wrap mx-auto px-4 py-8">
      <div class="layout-content">
        <div class="mx-auto">
          <div class="text-h5">
            <svg class="icon-logo-secondary text-blue mb-4">
              <use xlink:href="#icon-logo-secondary"></use>
            </svg>

            <p>At the <a href="http://nyc.gov/opportunity" target="_blank">Mayor's Office for Economic Opportunity</a> we work to improve the systems of government by advancing the use of research, data and design in program and policy development, service delivery, and budget decisions. Our work includes analyzing existing anti-poverty approaches, developing new strategies, facilitating the sharing of data across City agencies, and rigorously assessing the impact of key initiatives.</p>

            <p>We are seeking candidates for design, data, research, policy, and technology roles to develop and support digital products and programs that reduce poverty and advance opportunity for City residents.</p>

            <p class="text-center">
              <a class="btn btn-large btn-primary inline-block" href="work">Learn more about our work</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="color-mid-background py-8" id="positions">
    <div class="layout-wrap mx-auto px-8 py-8">
      <div class="text-center">
        <h2 class="mt-0 mb-8">Our open positions by team</h2>
      </div>

      {% include "@src/twig/partials/nav.twig" with {
        'tabindex': '0',
        'classes': {
          'navs': 'tablet:grid tablet:grid-cols-2 tablet:gap-4',
          'nav': '',
          'header': 'block p-2 mb-1 text-h4 font-normal text-grey border-b border-grey-70t',
          'link': 'block p-2 text-h5 no-underline hover:bg-pink-50t flex items-center',
          'number': 'small font-normal mie-1'
        }
      } only %}
    </div>
  </section>
{% endblock %}