{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Next Steps' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div id="markdown-next-steps" ></div>
</section>
{% endblock %}