{% extends "@src/twig/layouts/default.twig" %}

{% set title = 'Our Work' %}
{% set page_title = title %}

{% block content %}
<section class="o-content mx-auto">
  <div data-js="markdown"></div>
</section>
{% endblock %}